*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth !important;
}
body{
    overflow-x: hidden;
    background-color: #F6F7F8;
}


@media (max-width:1116px){
    .imageFlex{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .flexImageWidth{
        max-width: 230px !important;
        margin-top: 30px;
    }
    .socialFlex{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
        flex-direction: column;
    }
    .pWidth{
        max-width: 100%;
    }
}
@media (max-width:1024px){
    .grid1{
        grid-template-columns: 1fr;
    }
    .gridHeight{
        max-height: 650px;
    }
}
@media (max-width:640px){
    .gridHeight{
        max-height: 1200px;
    }
}
@media (max-width:1036px){
    .bottomGrid{
        grid-template-columns: 1fr 1fr !important;
    }
}
@media (max-width:710px){
    .bottomGrid{
        grid-template-columns: 1fr !important;
    }
}
@media (max-width:458px){
    .paginationImageWidth{
        display: none;
    }
}
@media (max-width:358px){
    .btnsFlex{
        flex-direction: column !important;
        width: 100%;
    }
    .btnsFlex a{
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .time{
        text-align: center;
    }
    .time i{
        display: none;
        
    }
}