*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth !important;
}
body{
    overflow-x: hidden;
    background-color: #F6F7F8;
}

/* utilites */
.globleWidth{
    max-width: 1316px;
    margin: 0 auto;
}
.topFixedShadow{
    box-shadow: 0 0 2px 0 rgb(46 62 72 / 12%), 0 2px 4px 0 rgb(46 62 72 / 12%);
    border-bottom: 1px solid rgba(46,62,72,.12);
}
.modalActive{
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    top: 50% !important;
}
.headerBorder{
    border-bottom: 2px solid rgba(46,62,72,.12);
}

.grid1{
    grid-template-columns: 1fr 300px;
    width: 100%;
}
.flexImageWidth{
    min-width: 300px;
}

.pWidth{
    max-width: 500px;
}
.gridHeight{
    max-height: 400px;
}
.swiper-slide img{
    user-select: none !important;
}
.topActive{
    visibility: visible !important;
    opacity: 1 !important;
}
.textareaHeight{
    min-height: 120px;
}
.cardHover:hover .title{
    text-decoration: underline;
}
.nextBlogHover:hover .arrows{
    color: rgb(255, 66, 66) !important;
}
.dot{
    font-size: 4px;
}
.mobNavActive{
    transform: translateY(0%) !important;
}
.bottomBtnImageHover:hover  img{
    filter: brightness(0) invert(1) !important; 
}
.swiper-button-next::after, .swiper-button-prev::after {
    content: "" !important;
}

.swiper-button-next{
    width: 60px !important;
    height: 60px !important;
}

.swiper-button-prev{
    width: 60px !important;
    height: 60px !important;
}



@media (max-width:1116px){
    .imageFlex{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .flexImageWidth{
        max-width: 230px !important;
        margin-top: 30px;
    }
    .socialFlex{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
        flex-direction: column;
    }
    .pWidth{
        max-width: 100%;
    }
}
@media (max-width:1024px){
    .grid1{
        grid-template-columns: 1fr;
    }
    .gridHeight{
        max-height: 650px;
    }
}
@media (max-width:640px){
    .gridHeight{
        max-height: 1200px;
    }
}
@media (max-width:1036px){
    .bottomGrid{
        grid-template-columns: 1fr 1fr !important;
    }
}
@media (max-width:710px){
    .bottomGrid{
        grid-template-columns: 1fr !important;
    }
}
@media (max-width:458px){
    .paginationImageWidth{
        display: none;
    }
}
@media (max-width:358px){
    .btnsFlex{
        flex-direction: column !important;
        width: 100%;
    }
    .btnsFlex a{
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .time{
        text-align: center;
    }
    .time i{
        display: none;
        
    }
}